:root{
  --primary-color:#1c2321;
  --secondary-color:#EEF1EF;
  --accent-color:#9E0031;
  --other-color:#A9B4C2;
  --other-two:#5E6572;

}
h1{
  color: var(--primary-color);
  font-family: "Lexend",serif;
  font-weight: 800;
  font-size:70px;
  line-height: 1.5;
}
h2{
  color: var(--primary-color);
  font-family: "Lexend", serif;
  font-weight: 800;
  font-size: 28px;
  line-height: 1.5;
}

p{
  color: var(--other-two);
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

}
.hero{
  padding:160px 20px;
  background-color: var(--secondary-color);
  text-align: center;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 18px;
}
.btn-contact-button{
  color:var(--secondary-color);
  background-color: var(--accent-color);
  font-family: "Poppins", serif;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 200ms ease-in-out;
}
.btn-contact-button:hover{
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  background: var(--secondary-color);
  text-decoration: none;
  cursor: pointer;
}
.project-description{
  background-color: var(--secondary-color);
  padding:110px 20px;
}

.about-section{
  background: var(--secondary-color);
  padding:100px 20px;
  margin: 30px;
}
.about-section h1{
  font-size: 50px;
}

@media (max-width:960px) {
  .project-description{
text-align: center;
padding:5px;
}
h1{
    font-size:36px;
  }
h2{
    font-size:18px;
    line-height: 1.5;
  }
p{
  font-size: 14px;
}
.about-section {
  text-align: center;
padding:5px;
  }
.btn-contact-button{
  font-size: 12px;
  padding: 10px 8px;
}
}